* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1em;
    margin: 1em;
}

.container {
    width: 1200px;
    height: 625px;
    background: no-repeat center/100% url("../img/background.jpg");
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.duck {
    width: 64px;
    height: 64px;
    position: relative;
    user-select: none;
    border-radius: 50%;
}

button {
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#countdown {
    font-size: 1.75em;
    text-align: center;
    position: absolute;
    user-select: none;
}

#gun{
    position: absolute;
    /* transform:translate(-50%,-50%); */
    height:50px;
    width:50px;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    pointer-events: none;
}

#shotgun {
    width: 72px;
    height: 72px;
}

.select {
    background-color: grey;
}

.hidden {
    display: none;
}

.hitbox {
    border: solid red 3px;
}

.panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
}

.btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel-score-duck, .panel-score-hunter, .panel-countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: grey;
    height: 110px;
    width: 200px;
    border-radius: 20px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.countdown {
    height: 110px;
    width: 250px;
    font-size: 5em;
}

#scoreDuck, #scoreHunter {
    font-size: 5em;
}

#duck-ico, #hunter-ico {
    height: 5em;
    width: 5em;
}